body {
font-size: 200%;
}

.title{
    color: black;
}

#footer{
    text-align: center;
    position: fixed;
    bottom: 0%;
}

.main{
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    }
